*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: rgba(0,0,0,0.5);
}

#img-container{
    width: 16rem;
    height: 16rem;
    margin: 1rem;
}

img:hover{
    opacity: .8;
}

img{
    width: 100%;
    height:100%;
}

p{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}